 <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/clients/dist/img/admin.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Checker</a>
        </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/Checker/News" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tin Tức
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Checker/Post" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Bài Viết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Checker/product" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>Sản Phẩm</p>
                </a>
            </li>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->