@page
@model DACS.Areas.Identity.Pages.Account.ExternalLoginModel
@{
    ViewData["Title"] = "ĐĂNG KÝ TÀI KHOẢN";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/login/css/style.css">

</head>


<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <p id="external-login-description" class="text-white">
                                    Bạn đã xác thực với tài khoản <strong>@Model.ProviderDisplayName</strong>.
                                    Vui lòng nhập (hoặc xác nhận) chính xác email để liên kết và đăng nhập.
                                </p>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h4 id="external-login-title">Thực hiện liên kết với tài khoản @Model.ProviderDisplayName.</h4>
                                </div>
                            </div>
                            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating mb-3">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <label asp-for="Input.FullName"></label>
                                    <input asp-for="Input.FullName" class="form-control" />
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login/js/jquery.min.js"></script>
    <script src="~/login/js/popper.js"></script>
    <script src="~/login/js/bootstrap.min.js"></script>
    <script src="~/login/js/main.js"></script>

</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}