@model DACS.Models.EF.Product
@{
    ViewData["Title"] = "Display";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<div>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 200px;" />
    }
    @Html.Raw(Model.Detail)
    @Html.Raw(Model.AddressAndPrice)
</div>
<a asp-action="Index">Back to List</a>

