@model IEnumerable<DACS.Models.EF.Post>
@section naviheader {
    <div class="header">
        <div class="container">
            <div class="navbar">
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/user/home/index">Home</a></li>
                        <li><a href="/user/post/index">Bài viết</a></li>
                        <li><a href="/user/news/index">Tin tức</a></li>
                        <li><a href="/user/compare/index">So sánh sản phẩm</a></li>
                        <li><partial name="_LoginPartial" /></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
}


<section class="py-2">
    <div class="small-container">
        <h2 class="title">
            Bài Viết
        </h2>
        <h3 class="nav-item">
            <div class="card">
                <div class="card-header">

                    <div class="card-tools">
                        <button class="btn btn-primary"> <a href="/user/post/Add" class="btn btn-primary">Thêm mới</a></button>
                      @*   <a href="/user/post/Add" class="btn btn-primary">Thêm mới</a> *@
                    </div>
                </div>
        </h3>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var post in Model)
            {
                <div class="col mb-5">
                    <div class="card gap-3" style="width: 18rem">
                        <img src="@post.ImageUrl" class="card-img-top" alt="..."
                             style="height: 300px">
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => post.Title)
                            </h5>
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => post.Description)
                            </h5>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
